/* login.css */

/* General Styles */
.login-page {
  display: flex;
  height: 100vh;
}

.login-container {
  width: 50%;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px; /* Increased border radius */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Added box-shadow for better aesthetics */
}

.login-form {
  width: 100%;
  max-width: 400px;
  border-radius: 20px; /* Increased border radius */
}

.input-field {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 10px; /* Increased border radius */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /* Apply Poppins font */
  color: #3D2B29; /* Dark brown color for text inside input fields */
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #F47A7D;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.login-button:hover {
  background-color: #F47A7D;
}

.error-message {
  color: #3D2B29; /* Dark brown color for error messages */
  font-size: 14px;
  text-align: center;
}

/* Home Page Section */
.home-section {
  width: 50%;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px; /* Increased border radius */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Added box-shadow */
}

.home-content {
  width: 80%;
}

.logo-image {
  width: 120px;
  margin-bottom: 20px;
}

.home-title {
  font-size: 24px;
  font-weight: bold;
  color: #3D2B29; /* Dark brown color for title */
  margin-bottom: 10px;
}

.home-description {
  font-size: 16px;
  color: #3D2B29; /* Dark brown color for description text */
}
