
  
  .progress-filler {
    height: 100%;
    background-color: #E0E2CC;
    text-align: right;
    line-height: 25px;
    transition: width 0.5s ease-in-out;
  }
  

  .progress-title{
    font-size: 30px;
    text-align: left;
  }


  .Banner{
    border-radius: 30px;
    margin-top: 250px;
  }