.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 2px 4px 2px #6E605F;
  z-index: 1000;
  padding: 15px 30px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
  }


  .navbar-Title{
    font-size: 30px;
    padding-right: 75px;
  }

  .navbar img{
    width: 20px;
    height:20px;
    padding-right: 10px;
    align-items: center;
  }