.navbar {
    display: flex;
    top: 0;
    width: 100%;
    background: #d4f0ff;
    color: rgb(0, 0, 0);
    z-index: 1000;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
  }
  
  .navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }